body {

  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, sans-serif;
  background-color: #f5f5f5;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav #nav-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav #user-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav button {
  display: block;
}

